/* ===================================================
   ACCORDION
=================================================== */

.accordion {

    margin-top: 24px;

}

.accordion summary {

    cursor: pointer;

    color: var(--gold);

    font-weight: 600;

    user-select: none;

    list-style: none;

}

.accordion summary::-webkit-details-marker {

    display: none;

}

.accordion summary::after {

    content: "▼";

    float: right;

    transition: .25s;

}

.accordion[open] summary::after {

    transform: rotate(180deg);

}

.accordion-content {

    margin-top: 20px;

    color: var(--text-secondary);

    line-height: 1.8;

}